<!DOCTYPE html>
<html lang="en">

<head>
    <title>WordMeaningIndia | English to Gujarati Dictionary | gujarati Meaning Of Any Word</title>
    <meta name="description"
        content="wordmeaningindia | Learn The Meaning of Any Word in gujarati Lenguage With Examples.">
      <link rel="canonical" href="https://wordmeaningindia.com" />
   <%- include('../partials/head.ejs'); %>
   <%- include('../partials/css.ejs'); %>
</head>


<body>
    <%- include('../partials/header_nav.ejs'); %>

    <div class="area">
        <div class="word-search">
            <h2>Not Found Any Meaning of This Word | 404 Error.</h2>
            <form method="get" action="">
                <label>
                    <input type="text" name="query" id="query" placeholder="Type Word...">
                </label>
                <button>Search</button>
            </form>
        </div>


        <!-- <div class="main">




        </div> -->





        <%- include('../partials/footer.ejs'); %>




    </div>


    <script type="text/javascript">
        function toggle() {
            var test = document.getElementById("navbar");
            if (test.className == "hidden") {
                test.className = "show";
            } else {
                test.className = "hidden";
            }
        }

    </script>
</body>

</html>