<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>wordmeaningindia | Privacy Policy</title>
    <meta name="description" content="wordmeaningindia | Privacy Policy">
    <link rel="canonical" href="https://wordmeaningindia.com/privacy-policy" />
    <%- include('../partials/head.ejs'); %>
    <%- include('../partials/css.ejs'); %>
</head>


<body>
    <%- include('../partials/header_nav.ejs'); %>

        <div class="area">


            <!--meaning output section-->
            <div class="main">


                <div class="othersite outputs">
                    <h2>Privacy Policy</h2>

                    <p>Privacy Policy for wordmeaningindia.COM</p>

                    <br>
                    <p>Who we are: <br><br>

                        Our website address is <a href="https://wordmeaningindia.com">wordmeaningindia</a> <br><br>

                        <b>What personal data we collect and why we collect it:</b> <br>
                    </p><br>
                    <p>1. Comments:<br><br>

                        We don’t have any comments section on out site. So we don’t collect any information from your
                        comments. In future we may add this feature.</p>
                    <br>
                    <p>
                        2. Media:<br><br>

                        If you upload images to the website, you should avoid uploading images with embedded location
                        data (EXIF GPS) included. Visitors to the website can download and extract any location data
                        from images on the website.</p>
                    <br>
                    <p>
                        3. Contact Forms &amp; Cookies:<br><br>

                        If you leave a comment on our site you may opt-in to save your name, email address and website
                        in cookies. These are for your convenience so that you do not have to fill in your details again
                        when you leave another comment. These cookies will last for one year.</p>
                    <br>
                    <p>
                        If you have an account and you log in to this site, we will set a temporary cookie to determine
                        if your browser accepts cookies. This cookie contains no personal data and is discarded when you
                        close your browser.</p>
                    <br>
                    <p>
                        When you log in, we will also set up several cookies to save your login information and your
                        screen display choices. Login cookies last for two days, and screen options cookies last for a
                        year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your
                        account, the login cookies will be removed.</p>

                    <br>
                    <p>If you edit or publish an article, an additional cookie will be saved in your browser. This
                        cookie includes no personal data and simply indicates the post ID of the article you just
                        edited. It expires after 1 day.</p><br>
                    <p>
                        4. Embedded Content From Other Websites:<br><br>

                        Articles on this site may include embedded content (e.g. videos, images, articles, etc.).
                        Embedded content from other websites behaves in the exact same way as if the visitor has visited
                        the other website.</p>
                    <br>
                    <p>
                        These websites may collect data about you, use cookies, embed additional third-party tracking,
                        and monitor your interaction with that embedded content, including tracking your interaction
                        with the embedded content if you have an account and are logged in to that website.</p>
                    <br><br>
                    <p>
                        5. Analytics- How long we retain your data:<br><br>

                        If you leave a comment, the comment and its metadata are retained indefinitely. This is so we
                        can recognize and approve any follow-up comments automatically instead of holding them in a
                        moderation queue.</p>
                    <br>
                    <p>
                        For users that register on our website (if any), we also store the personal information they
                        provide in their user profile. All users can see, edit, or delete their personal information at
                        any time (except they cannot change their username). Website administrators can also see and
                        edit that information.</p><br>
                    <p>
                        6. What rights you have over your data:<br><br>

                        If you have an account on this site or have left comments, you can request to receive an
                        exported file of the personal data we hold about you, including any data you have provided to
                        us. You can also request that we erase any personal data we hold about you. This does not
                        include any data we are obliged to keep for administrative, legal, or security purposes.</p>
                    <br>
                    <p>
                        7. Where we send your data:<br><br>

                        Visitor comments may be checked through an automated spam detection service.<br>

                        <br>8. Compliance With Children’s Online Privacy Protection Act:<br><br>

                        Protecting the privacy of the very young is especially important. For that reason, we never
                        collect or maintain information at our Site from those we actually know are under 13, and no
                        part of our website is structured to attract anyone under 13.
                    </p><br><br>
                    <p>
                        9. Your Acceptance Of These Terms:<br><br>

                        By using this site, you signify your acceptance of this policy and terms of service. If you do
                        not agree to this policy, please do not use our Site. Your continued use of the Site following
                        the posting of changes to this policy will be deemed your acceptance of those changes.</p>
                    <br>
                    <p><b>
                            Contact information:</b><br><br>

                        If you face any problem with the contents or the site, feel free to write us at
                        begumrahimamrs@gmail.com</p>


                </div>



                <!-- Bonous Section -->



                <!-- below main dev ends -->
            </div>


            <aside>

            </aside>




            <%- include('../partials/footer.ejs'); %>




        </div>


        <script type="text/javascript">
            function toggle() {
                var test = document.getElementById("navbar");
                if (test.className == "hidden") {
                    test.className = "show";
                } else {
                    test.className = "hidden";
                }
            }

        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
</body>

</html>