<header>
    <div class="logo">
        <h1> <a href="/">Word Meaning India</a> </h1>
    </div>
</header>



<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4942404864764189"
     crossorigin="anonymous"></script>
<!-- WMI_top_page -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4942404864764189"
     data-ad-slot="8668973727"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>



<nav>
    <div class="button">
        <p onclick="toggle()">MENUS ︾</p>
    </div>
    <ul id="navbar" class="hidden">
        <li><a href="/meaning-in-hindi" class="active one">English to Hindi</a></li>
        <li><a href="/hindi-to-english" class="active two">Hindi to English</a></li>
        <li><a href="/meaning-in-tamil" class="active three">English to Tamil</a></li>
    </ul>
</nav>



